* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
background-image: url(images/background.png);
background-repeat: no-repeat;
background-attachment: fixed;
}

#loginContainer {
    background-color: #A9D6E5;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    margin-top: 7%; 
    height: auto;
    box-shadow: 0px 0px 30px #2A6F97;
    padding: 15px;
    border-radius: 5px;
}

@media only screen and (max-width: 300px) {
    #loginContainer {width: 65%;
                    
    }
  }
                     
@media only screen and (min-width: 300px) {
    #loginContainer {width: 45%;}
  }
  

  @media only screen and (min-width: 500px) {
    #loginContainer {width: 30%;}
  }
  
img {
    width: 20%;  
    height: 20%;
    margin-bottom: 50px;
}  

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.centerIn{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;   
}

.centerText {
    display: block;
    text-align: center;

}

.centertextIN{
    text-align: center;
    display: inline-block;
}

.marginBM {
margin-bottom: 20px;
}

.marginTP {
    margin-top: 30px;
    }

.font40 {

    font-size: 30px;

}

.sizeInput {
    height: 30px;
    width: 50%;
    font-size: 20px;
    border: 0px;
}

.button {
    display: block;
    font-size: 20px;
    border: 1px solid #000;
    background-color: white;
}

.button:hover{
   background-color: #6ca2b5; 
   border: none;
   border-bottom: 5px solid #000;
   box-shadow:inset -0.15em -0.3em 0 0 rgba(0,0,0,0.17);
}

.button-size{
    width: 49%;
    height: 50px;
    display: inline-block;
}

.med-size{
    width: 18%;
    height: 40px;
    margin-top:15px;
    display: inline-block;
}

.size-register{
    height: 5%;
    width: 30%;
}





/* Instructor */ 

.insDiv {
    background-color: #ebf6f9;
    width: 46%;
    height: 100%;
    float:left;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5px;
    text-align: center;
}

.insDiv:hover {
   background-color: #f1f1f1; 
   border: none;
   border-bottom: 5px solid #000;
    top:0.1em;
    box-shadow:inset -0.35em -0.7em 0 0 rgba(0,0,0,0.17);
}


#parent {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
    margin-top: 12%; 
    height: 25%;
    width: 50%;
}

.heading {
 font-size: 48px;
 margin-top: 5%;
}

.centerInDiv {
   width:auto;
   position: relative;
   top: 50%;
   margin: auto 0 0 0;
   font-size:2.8vw;
}

/* Create a quiz*/


#divQuiz {
    width: 80%;
    height: auto;
    background-color: #A9D6E5;
    box-shadow: 0px 0px 30px #2A6F97;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

#divQuistion {
    width: 100%;
    margin-top: 20px;
    display:none; 
    border-radius: 5px;
}

#quistion {
    width: 80%;
}

.bold {
    font-weight: bold;
}

.font2_2 {
    font-size: 2.2vw;
}

.font1_2 {
    font-size: 1.2vw;
}


@media only screen and (max-width: 500px) {
    .typeQuistion {width: 3%;
        height: 3%;
        position: relative;
        top: 7px;
    }
  }

@media only screen and (min-width: 500px) {
    .typeQuistion {width: 4%; 
        height: 4%;
        position: relative;
        top: 3px; 

    }
  }


  @media only screen and (min-width: 800px) {
    .typeQuistion {width: 3%;
        height: 3%;
        position: relative;
        top: 3px; 
    }
  }

.marginRT {
    margin-right: 10px;
} 

#answer {
    width: 100%;
    height: auto;
}

.radioSize {
    width: 2.5%;
    height: 2.5%;
} 



/* Student */

.spacing{
    letter-spacing: 5px;
    width: 80%;
    margin-top: 5%;
}

.enter-student{
    display: block;
    height: 10%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    background-color: white;
    font-size: 40px;

}

.enter-student:hover{
    background-color: #6ca2b5; 
   border: none;
   border-bottom: 5px solid #000;
   box-shadow:inset -0.15em -0.3em 0 0 rgba(0,0,0,0.17);
}


.background-student{
    background-color: #A9D6E5;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 7%;
    margin-top: 7%; 
    height: auto;
    width: 70%;
    box-shadow: 0px 0px 20px #2A6F97;
    padding: 15px;
}

#completeQuiz {
    background-color: #A9D6E5;
    width: 65%;
    height: 45%;
    margin-top: 7%; 
    box-shadow: 0px 0px 30px #2A6F97;
    padding: 15px;
}

.warningMsg {
    color: red;
    text-align: center;
} 

/*Quiz*/

#quiz_box{ 
    background-color: #A9D6E5;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    margin-top: 7%; 
    height: auto;
    width: 85%;
    box-shadow: 0px 0px 30px #2A6F97;
    padding: 15px;
    padding-bottom: 2%;
    border-radius: 5px;
    }

    div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
      }

      div.fixed {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 300px;
        border: 3px solid #73AD21;
      }

      .labelAnswer {
        font-weight: normal;
        text-indent: 2%;
    }

/* list of quiz */
table {
    width:100%;
    border-radius: 5px;
  }
  table, th, td {
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: center;
    width: 33%;
  }
  #t01 tr:nth-child(even) {
    background-color: #eee;
  }
  #t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  #t01 th {
    background-color: #4A8CAA;
    color: white;
  }
   
   .btn-list {
    position: relative;
    background-color: #7DAFC8;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: auto;
    text-align: center;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn-list:after {
    content: "";
    background: #72a5d3;
    display: block;
    position: absolute;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .btn-list:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  .btn-list:hover {
    background-color: #b1d3e3;
    color: white;
  }


/* popup details */

.popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:150vw;
    height:250vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
  }
  
  .popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    border-radius: 5px;
    width:700px;
    height:550px;
    overflow-y: auto;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
  }
  
  .popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
  }
  
  .popup.active .overlay {
    display:block;
  }
  
  .popup.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
  }
  
  button {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:15px;
    font-size:18px;
    border:2px solid #222;
    color:#222;
    text-transform:uppercase;
    font-weight:600;
    background:#fff;
  }